@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$color-gray: #e8e9ea;
$color-red: #9c1c1c;

$theme-colors: (
  gray: $color-gray,
  red: $color-red,
);

@function theme-color($key) {
  @return map-get($theme-colors, $key);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-container {
}
.cart-total {
  background-color: #212121;
}

.custom-hero-background {
  background: url(../../public/hero-bg.jpg);
  background-position: center;
  background-size: cover;
}
